* {
  text-align: center;
  font-family: Sans-serif;
}

h1.heading {
  font-family: Sans-serif;
  margin-top: 40vh;
}

.URL-input, .convert-button-mp4 {
  font-size: 1.3em;
  padding: 5px 10px;
}

.URL-input {
  border-radius: 4px 0px 0px 4px;
  width: 30em;
  text-align: left;
  border: 2px solid #EEEEEE;
  background: #EEEEEE;
  outline: none;
}

.URL-input:focus {
  border: 2px solid #0485FF;
}

.convert-button-mp4 {
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #0485FF;
  background: #0485FF;
  color: white;
}
